<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-lg-6 d-flex flex-column align-items-center">
      <img src="./../../assets/img/estoque.jpg" alt="estoque" class="img-fluid" aria-describedby="Estoque">
      <div class="image-description">{{ i18nService.getTranslation('inventory') }}</div>
    </div>
    <div class="col-lg-6">
      <h2>{{ i18nService.getTranslation('inventory') }}</h2>
      <p>Aliquam semper nulla velit, eu lobortis massa tincidunt ut. Ut iaculis volutpat erat id rutrum.
        Quisque a elit vel dolor bibendum rhoncus vel in ipsum.</p>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-lg-6">
      <h2>{{ i18nService.getTranslation('finance') }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur sem id velit hendrerit,
        euismod consequat lacus eleifend. Fusce a luctus lorem.</p>
    </div>
    <div class="col-lg-6 d-flex flex-column align-items-center">
      <img src="./../../assets/img/financas.jpg" alt="finances" class="img-fluid" aria-describedby="Finanças">
      <div class="image-description">{{ i18nService.getTranslation('finance') }}</div>
    </div>
  </div>

</div>
