<div class="container container-about">
  <h2 class="text-center" tabindex="0">
    {{ i18nService.getTranslation('about') }}</h2>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam eu purus eget lacus tristique consectetur.
        Donec vel lectus justo. Proin id dui quis ex luctus pretium at non eros.
        Nulla id tristique diam. Nulla facilisi.
      </p>
      <p>
        Curabitur rutrum consectetur dui a faucibus.
        Mauris lacinia, enim at rhoncus cursus, massa mi vestibulum nunc,
        non pulvinar dui mauris eu nunc. In ut justo id felis tempor tincidunt.
        Mauris egestas eros ac commodo finibus.
      </p>
      <p>
        Sed feugiat mi sed turpis scelerisque lobortis. Mauris lacinia enim eget aliquam commodo.
        Sed finibus mollis metus, in gravida urna euismod ac.
        Phasellus elementum semper nisi, ac aliquam ligula finibus in. Fusce sed bibendum dolor.
      </p>
    </div>
  </div>
</div>
