<h1>{{ i18nService.getTranslation('revenueForm') }}</h1>
<form class="form-container">
  <div class="form-field">
    <label for="description">{{ i18nService.getTranslation('description') }}:</label>
    <input type="text" id="description" name="description"
      required
      aria-required="true" aria-labelledby="description-label">
  </div>
  <div class="form-field">
    <label for="amount">{{ i18nService.getTranslation('amount') }}:</label>
    <input type="number" id="amount" name="amount"
      required
      aria-required="true" aria-labelledby="amount-label">
  </div>
  <div class="form-field">
    <button type="submit" >{{ i18nService.getTranslation('register') }}</button>
  </div>

  <div *ngIf="successMessage" class="success-message" id="success-message">
    {{ successMessage }}
  </div>
</form>



